<div class="bg-slate-100 w-screen h-screen flex justify-between items-center flex-col">
  <header class="w-full bg-black h-1/6">
    <app-navbar></app-navbar>
  </header>
  <main class=" w-full h-3/4 mb-5">
    <app-vente></app-vente>
  

  </main>

</div>

<!-- 
              src="https://media.istockphoto.com/id/1389603578/photo/laptop-blank-screen-on-wood-table-with-blurred-coffee-shop-cafe-interior-background-and.webp?s=2048x2048&w=is&k=20&c=_BRf208P6xcoDDPRPn0vDrm4-iGInzBSgH1ecWXpcBI="

 -->